.team-summary {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  .team-image {
    height: 200px;
    width: 200px;
    margin-right: 10px;
    //border-radius: 50%;
    overflow: hidden;
    img {
      width: 200px;
    }
.team-summary .team-meta:hover h2 {
  color: #7a5249;
}
.team-meta {
  position: relative;
  display: inline-block;
}
}
  .team-meta {
    flex: 1;
    text-align: center;
    h2 {
      margin: 0;
      font-size: 22px;
      font-weight: bold;
    }
    p {
      color: $black;
      //text-transform: uppercase;
      margin: 0;
      font-size: 18px;
      font-weight: 500;
    }
  }
  .team-content {
    margin-top: 20px;
    flex: 1 0 100%;
  }
}

.team-summary-large {
  background-color: #FFF;
  padding: 30px 0 0;

  .team-image {
    height: 220px;
    width: 350px;
    margin-right: 0;
    overflow: hidden;
    margin-bottom: 20px;
    img {
      width: 300px;
    }
  }
 .team-image img {
    width: 300px;
    display: inline-block;
    -webkit-transition-duration: 5s;
    transition-duration: 5s;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 25% 100%;
    transform-origin: 25% 100%;
    width: 100%;
    height: auto;
}
}
.team-content .col-12 {
    text-align: center;
}
.team-content.container.pt-6.pb-6 {
    padding-top: 30px !important;
}