<div class="call">
  <div class="call-box-top">
  {% for location in site.data.contact.locations %}
    <div class="pb-1 pt-1">
    <h2>{{location.title}}</h2>
    <div class="call-address">{{location.address_line1}}</div>
    <div class="call-address">{{location.address_line2}}</div>
    <div class="call-phone"><strong>Phone: </strong> {{location.phone}}</div>
    </div>
  {% endfor %}

  {% if site.data.contact.email %}
  <div class="call-email"><strong>Email: </strong>
    <a href="mailto:{{ .site.Data.contact.email }}">
      {{ site.data.contact.email }}
    </a>
  </div>
  {% endif %}
</div>


</div>


    {% if site.data.contact.phone %}
        <div class="call-phone"><strong>Phone: </strong> {{ site.data.contact.phone }} </div>
    {% endif %}

  </div>
    {% if include.show_button %}
      <div class="call-box-bottom">
        <a href="{{ site.data.contact.contact_button_link }}" class="button">Contact</a>
      </div>
    {% endif %}
</div>



