<footer class="footer-strip">
        <div class="footer-line"></div>
           <div class="footer-main">
               <div class="container">
                   <div class="row d-flex">
                       <div class="col-lg-3 col-md-3 col-sm-6 col-sm-6 col-xs-12 order-1">
                           <div class="widget link-widget">
                               <div class="footer-widget widget widget_nav_menu">
                                  <div class="widget-title">
                                   	<h3>Quick Links</h3>
		                          </div>
		                            {% assign footermenu = site.data.footermenu.footer | sort: 'weight'  %}
									{% for item in footermenu %}
									<div class="footer-links {% if item.url == page.url %}active{% endif %}">
										<a href="{{ item.url | relative_url }}">{{ item.name }}</a>
													</div>
									{% endfor %}
		                                     </div>
		                               </div>
		                           </div>
		                     
                       <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 order-2">
                           <div class="widget contact-widget">
                               <div class="widget-title">
                                   <h3>Contact Info</h3>
                               </div>
                               <div class="single-contact">
                                   <div class="icon">
                                       <img src="../assets/images/icon/call.svg" class="img-responsive" alt="">
                                   </div>
                                   <div class="content">
                                       <h4>Call Us:</h4>
                                       <p>+00 123 456 789</p>
                                   </div>
                               </div>
                               <div class="single-contact">
                                   <div class="icon">
                                       <img src="../assets/images/icon/clock.svg" class="img-responsive" alt="">
                                   </div>
                                   <div class="content">
                                       <h4>Opening Hours:</h4>
                                       <p>Mon - Sat | 08:00 – 17:00</p>
                                   </div>
                               </div>
                               <div class="single-contact">
                                   <div class="icon">
                                       <img src="../assets/images/icon/gps-map-marker.svg" class="img-responsive" alt="">
                                   </div>
                                   <div class="content">
                                       <h4>Our Address:</h4>
                                       <p>Andheri East,Mumbai 400069</p>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <div class="col-lg-3 col-md-3 col-sm-6 col-sm-6 col-xs-12 order-3">
                             <div class="footer-widget widget widget-link">
                                    <div class="widget-title">
                                   	<h3>Our Services</h3>
                               		</div>
                                     {% assign sorted_services = site.services | sort: "weight" %}
									 {% for service in sorted_services limit: 6 %}
									   <a class="list-group-item list-group-item-action 
										{% if service.url == page.url %}active{% endif %}" 
									href="{{site.baseurl}}{{ service.url }}">{{ service.title }}
									</a>
									{% endfor %}
                              </div>
                       </div>
                   </div>
               </div>
           
           </div>
     
       </footer>