{% if jekyll.environment == "production" %}
{% assign gid = site.env.NETLIFY_GOOGLE_ANALYTICS_ID %}
{% if gid %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ gid }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());
  gtag('config', '{{ $gid }}');
</script>
{% else %}
{% if site.google_analytics_id %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics_id }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());
  gtag('config', '{{ site.google_analytics_id }}');
</script>


{% endif %}
{% endif %}
{% endif %}