<div class='header'>
  <div class="container">
      <div class="col-3 col-md-3">
    <div class="logo">
      <a href="{{site.baseurl}}/"><img height="{{ site.logo.desktop_height }}" alt="{{ site.title }}" src="{{ site.logo.desktop | relative_url }}" /></a>
    </div>

    <div class="logo-mobile">
      <a href="{{site.baseurl}}/">
       <!-- <object type="image/svg+xml" data="{{ site.logo.mobile | relative_url }}"> -->
          <!-- Your fall back here -->
          <img alt="{{ site.title }}" src="{{ site.logo.mobile | relative_url }}" />
        <!-- </object> -->
      </a>
    </div>
     </div>
     <div class="col-9 col-md-9">
    {% include main-menu.html %}
    {% include hamburger.html %}
  </div>
  </div>
</div>

