<div class="sub-footer-strip">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer">
          {% if site.footer.copyright_text %}
          <div class="copyright">{{ site.footer.copyright_text }}</div>
          <div class="powered-by">Powered by<a href="https://www.zelican.com/?utm_source=zelican-sites&utm_medium=site-hosting&utm_campaign=gupta-law-associates"> Zelican</a></div>
          {% endif %}
        </div>

  
      </div>
    </div>
  </div>
</div>