.map.col-12.col-md-6 {
    width: 100%;
    position: relative;
    float: left;
    max-width: 100%;
    flex: 0 0 100%;
}
.call{
	position: relative;
    float: left;
    width: 100%;

	.pb-1.pt-1 {
    display: inline-block;
    margin: 30px 0 20px 40px;
    width: 30%;
    padding: 30px 40px 0 30px;
    background: #fff8f8;
    height: 160px;
     @include media-breakpoint-down(md){
     width: 100%;
     margin: 0;
     }
}
.pb-1.pt-1:first-child {

    margin: 30px 0 0;
}
}