.page-services-single {
  .content {
    > p {
      &:first-of-type {
        font-size: 1.6rem;
        line-height: 1.4;
        margin-bottom: 40px;
        font-weight: regular;
        color: rgb(104, 104, 104);
      }
    }
  }
}

#sidebar-wrapper {
    background: #ffffff;
    padding: 30px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 10px 30px rgba(0, 0, 0, 0.05);
    border-top: 4px solid #7a5249;
}
.page-services-single .d-flex a.list-group-item.list-group-item-action {
    padding: 15px;
    font-size: 17px;
    border: none;
}
.page-services-single a.list-group-item {

  color: $secondary;
  background: $white;
}

.service.service-single{
img.img-fluid.mh-50{
  max-width:100%;
}
h1.title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;

}
}
.page-services-single{
.d-flex{
margin-top: 50px;
.service-title-main {
    position: relative;
    background-color: #fffdfc;
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
    text-align: center;
    padding: 15px 0;
    margin-top: 0px;
    margin-top: 0;
    margin-bottom: 15px;
    padding-bottom: 15px;
    font-weight: 600;
    letter-spacing: 0;
}
a.list-group-item.list-group-item-action.active {
    background: #7a5249;
    color: #fff;
    border-color: #7a5249;
    border-radius: 0;
}
.row{display: block;}
}
}
a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
    color: #a94442;
    text-decoration: none;
    outline: none;
    background-color: rgba(112, 112, 112, 0.05);
    border: none;
}