
.block  {
    position: relative;
    float:left;
    width:100%;

    img {
    width: 100%;

    @include media-breakpoint-down(md){
    width: 100%;
    }
    @include media-breakpoint-down(xs){
    height: 250px;
    }
}
}

.about-section {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 50px;
    z-index: 99;
    
     @include media-breakpoint-down(sm){
        margin-top: 0px;
     }
    @include media-breakpoint-down(xs){
        margin-top: 10px;
     }
    .col-md-5.col-sm-12 {
    @include media-breakpoint-up(md){
    flex: 100%;
    max-width: 100%;
    width: 50%;
    padding: 0;
    }
}
 .container.pt-6.pt-md-10 {
    @include media-breakpoint-down(sm){
     padding: 0 10px;
    }
    }

}


.about-block {
    padding: 0 30px;
    text-align: center;

    @include media-breakpoint-down(lg){
    padding: 29px;
    }
    @include media-breakpoint-down(md){
        padding: 20px;
    }
    @include media-breakpoint-down(sm){
     padding: 15px 0;
     }
     a.button.button-primary {
    margin-top: 20px;
    transition: all 500ms ease-in;
    transform: none;
}
}
.about_description
{
    margin-top: 15px;
    @include media-breakpoint-down(md) {
    margin-top: 0;
    }
        p {
            font-size: 16px;
            letter-spacing: 0.6px;
            padding: 0 30px;
            text-align: center;
            @include media-breakpoint-down(lg) {
                font-size: 14px;
            }
            @include media-breakpoint-down(lg) {
                font-size: 13px;
            }
            @include media-breakpoint-down(md) {
                padding: 0;
            }
        }        
}
.about-title h2 {
    font-weight: 600;
    padding-bottom: 10px;
    color: #7a5249;
    margin: 0;
    font-size: 40px;
    @include media-breakpoint-down(md){
        font-size: 24px;
    }
}
.about.section {
    position: relative;
    float: left;
    width: 100%;
p {
    font-size: 18px;
    line-height: 30px;
}
}