.team-block {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 30px;

h2.team-main-title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #7a5249;

    @include media-breakpoint-down(md){
    font-size: 30px;
    margin-bottom: 20px;
    }
}
.team_box_wrapper {
    position: relative;
    float: left;
    margin: 0 30px 0 0;
    width: 30%;

    @include media-breakpoint-down(md){
    width: 100%;
    text-align:center;
    }
    @include media-breakpoint-down(sm){
    margin-bottom: 30px;
    }
}
.team_box_image {
    display: inline-block;
    position: relative;
}
h2.team-title {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    color: #fff;
    margin-top: 35px;
}
}
img.team-image {
    width: 100%;
    height: auto;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}
img.team-image:hover {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none;
}
.team_box_text .title-combo {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 90px;
    background-color: rgba(41,54,66,.45);
    z-index: 1;
}