.feature {
  height: 100%;
  padding: 20px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  .feature-image {
    flex: 0 0 auto;
    width: 70px;
    height: 70px;
    display: flex;
    margin-bottom: 0px;
    text-align: center;
  }
  img {
    width: 100%;
    height: auto;
  }

 .feature-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
  }
  .feature-content {
    margin-bottom: 0;
    margin-top: auto;
    p {
      margin: 0;
      strong {
        color: $secondary;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 700;
      }
      em {
        color: $primary;
        font-style: normal;
      }
    }
  }
}

.feature-section {
position: relative;
float: left;
overflow: hidden;
width: 100%;

  .title-3 {
    font-size: 32px !important;
    margin-bottom: 25px !important;
    font-weight: 600;
  }
  .pt-5.pb-5.pt-md-7.pb-md-7 {
    padding-bottom: 20px !important;
    background: #f1f1f1;
  
}
}

    
    .feature-section:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #95c4dd;
    opacity: 0.8;
    }

.features.col-12.col-md-6.col-lg-4.mb-2 {
    position: relative;
    float: left;
}

.feature-section .pt-5.pb-5.pt-md-7.pb-md-7 {
    padding-bottom: 30px !important;
    background: #000 url(../images/1.png);
    padding-top: 30px !important;
    margin-bottom: 30px;
    padding: 0 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;


}