
.footer-strip {
    position: relative;
    z-index: 9;
    -webkit-transition: left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
    transition: left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
    background: url(/images/footer-bg.jpg) no-repeat center top/cover local;
    position: relative;
    float: left;
    width: 100%;
    padding-top: 50px;
    margin-top: 60px;
    @include media-breakpoint-down(sm){
      margin-top: 0px;
  }

ul{
  padding: 0 0 0 5px;
  @include media-breakpoint-down(sm){
    padding: 0;
}
  
a {
  color: $white;
  font-size: 16px;
  text-decoration: none;
  @include media-breakpoint-down(xs){
    font-size: 13px;
  }
 i {
    height: 25px;
    width: 25px;
    background: #fff;
    border-radius: 50%;
    padding-top: 4px;

    @include media-breakpoint-down(xs){
      padding-top: 7px;
    font-size: 14px;
    }
}
  }
}
}
 
.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;

  @include media-breakpoint-up(sm) {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }


  .footer-title {
    color: #ffffff;
    font-size: 28px;
    font-family: $font-family-heading;
    margin-bottom: 10px;
    font-weight:600;
    flex: 0;
    @include media-breakpoint-up(sm) {
      margin: 0;
    }

  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    flex: 1;
    li {
      display: block;
      margin-right: 10px;
      font-size: 0.8rem;
      color: #ffffff;
      &:last-of-type {
        margin-right: 0;
      }
      a {
        color: #ffffff;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      &.copyright {
        font-weight: bold;
        color: #ffffff;
      }
    }
    @include media-breakpoint-up(sm) {
      height: inherit;
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      align-items: center;
      justify-content: flex-end;
      li {
        list-style: none;
        a {
          display: inline-block;
          height: 40px;
          padding: 10px 8px 10px 8px;
          font-weight: 300;
        }
      }
    }
    @include media-breakpoint-up(md) {
      li {
        font-size: 0.9rem;
      }
    }
  }
}

.sub-footer ul li {
    font-size: 14px !important;
}



.contact-widget::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    top: 130px;
    left: 0;
    background: $primary;
    z-index: 99;
    @include media-breakpoint-down(sm){
    display: none;
    }
}
.widget.contact-widget {
    background: #7a5249;
    padding: 0 50px 50px 50px;
    position: relative;
    @include media-breakpoint-down(sm){
    padding: 0 30px 50px 30px;
    }
}
.widget-title h3 {
    font-size: 35px;
    margin: 0;
    padding: 50px 0;
    position: relative;
    padding-left: 30px;
    line-height: 1;
    color: #fff;
    @include media-breakpoint-down(sm){
    padding: 30px 0 30px 30px;
    }
}
.contact-widget .widget-title h3::before {
    background: #fff;
}
.widget-title h3::before {
    position: absolute;
    content: '';
    width: 5px;
    height: 20px;
    background: $primary;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
.footer-links:before {
    position: absolute;
    content: '\f101';
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    font-family: 'FontAwesome';
    color: #FFFFFF;
    font-weight: 700;
}
.footer-links:hover:before {
    color: $primary;
}
.footer-links a {
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
}
.footer-links a:hover {
    color: $primary;
    text-decoration: none;
}
.footer-links {
    position: relative;
    margin-bottom: 15px;
    padding-left: 30px;
}
.footer-line::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: #373638;
    top: 50px;
    left: 0;
    @include media-breakpoint-down(sm){
    display: none;
    }
}
.footer-line::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: #373638;
    top: 170px;
    left: 0;
    z-index: 99;
    @include media-breakpoint-down(sm){
    display: none;
    }
}
.footer-strip .row.d-flex {
    margin-top: 0;
}
.contact-widget .single-contact .icon img {
    width: 27px;
}
.contact-widget .single-contact .icon {
    height: 50px;
    width: 50px;
    border: 1px solid #7a5249;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    @include media-breakpoint-down(sm){
    margin-right: 15px;
    }
}
.contact-widget .single-contact {
    background: #fff;
    display: flex;
    align-items: center;
    padding: 15px 50px;
    @include media-breakpoint-down(sm){
     padding: 15px 15px
    }
}
.col-lg-6.col-md-6.col-sm-12.col-xs-12.order-2 {
  @include media-breakpoint-down(sm){
    padding: 0;
    }
}
.contact-widget .single-contact .content h4 {
    font-size: 18px;
    color: #212123;
    font-weight: 900;
    font-family: 'Playfair Display', serif;
    margin-bottom: 15px;
}
.contact-widget .single-contact .content p {
    color: #585654;
    font-family: 'Heebo', sans-serif;
    font-size: 15px;
}
.contact-widget .single-contact:hover {
    background: #212123;
}
.contact-widget .single-contact:not(:last-child) {
    margin-bottom: 20px;
}
.contact-widget .single-contact:hover .content h4 {
    color: #fff;
}
.contact-widget .single-contact:hover .content p {
    color: #fff;
}
.footer-widget a.list-group-item {
    color: #fff;
    background: transparent;
    border: none;
    font-size: 15px;
    padding-left: 30px;
}
.footer-widget a.list-group-item:before {
    position: absolute;
    content: '\f101';
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    font-family: 'FontAwesome';
    color: #FFFFFF;
    font-weight: 700;
}
.footer-widget a.list-group-item:hover:before,.footer-widget a.list-group-item:active:before,.footer-widget a.list-group-item:focus:before {
    color: #7a5249;
    background: transparent;
}
.footer-widget a.list-group-item:hover,.footer-widget a.list-group-item:active,.footer-widget a.list-group-item:focus {
    color: #7a5249;
    background: transparent;
}