.header {
  height: 50px;
  padding: 40px 0;
  color: $primary;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 15px rgba(50, 50, 93, 0.2);
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-social {
    height: inherit;
    display: none;
    @include media-breakpoint-up(lg) {
      display: block;
    }
  }
}
.fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  background: #fff;
  animation: 0.9s ease 0s normal both 1 running fixedAnim;
  -webkit-animation: 0.9s ease 0s normal both 1 running fixedAnim;
  -moz-animation: 0.9s ease 0s normal both 1 running fixedAnim;
  -o-animation: 0.9s ease 0s normal both 1 running fixedAnim;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
}
.col-9.col-md-9 {
  @include media-breakpoint-down(sm) {
  text-align: right;
  }
}