.intro {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background: black;
  min-width: 100%;
  height: 160px;
  background: -webkit-linear-gradient(rgba(8, 9, 15, 0), rgba(13, 20, 85, 0)), url(/images/background-bg.jpg);
  background-size: cover;
  @include media-breakpoint-up(sm) {
    padding-top: 100px;
    padding-bottom: 80px;
  }
  @include media-breakpoint-up(md) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @include media-breakpoint-up(lg) {
    padding-top: 100px;
    padding-bottom: 120px;
  }
  h1 {
    color: #fff;
    font-size: 2.4rem;
    line-height: 1.2;
    font-family: $font-family-heading;
    width: 100%;
    font-size: 40px;
    font-weight: 700;
    @include media-breakpoint-down(md) {
      font-size: 2.5rem;
    }
    @include media-breakpoint-down(lg) {
      font-size: 40px;
    }
  }
  p {
    width: 80%;
    font-size: 1.1rem;
    font-weight: lighter;
    line-height: 1.4;
    color: $white;
    @include media-breakpoint-up(sm) {
      width: 70%;
    }
    @include media-breakpoint-up(md) {
      width: 60%;
    }
    @include media-breakpoint-up(lg) {
      width: 40%;
    }
  }
}
.intro-small {
  padding-top: 100px;
  padding-bottom: 30px;
}
.flexslider {
.intro {
    position: absolute;
    top: 40%;
    left: 0;
    right: auto;
    padding: 0 !important;
    z-index: 9;
    width: 100%;
    text-align: center;
    background: transparent;
    @include media-breakpoint-down(md) {
                top: 33%;
      }
         @include media-breakpoint-down(md) {
                top: 25%;
    }
    @include media-breakpoint-down(xs) {
                top: 0;
    }
 img{
  max-width: 100%;
  }
h1 {
  color: #f1f1f1;
    font-weight: 700;
    font-size: 60px;
    width: 100%;
    margin: 0 auto;

     @include media-breakpoint-down(sm) {
      font-size: 30px;
    }
}
p{
  width: 100%;
  font-size: 20px;
    color: #f1f1f1;
    font-weight: 400;
    margin: 0 auto;

      @include media-breakpoint-down(sm) {
      font-size: 18px;
      }
       @include media-breakpoint-down(xs) {
      font-size: 14px;
    }
}
}
}

