.logo {
  display: none;

  @include media-breakpoint-up(sm) {
    display: block;
    width: auto;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.logo-mobile {
  display: block;
  @include media-breakpoint-up(sm) {
    display: none;
  }
  img {
    width: 100%;
    height: auto;
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}
