.main-menu {
  height: inherit;
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  
  }
  > ul {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
    > li {
      height: inherit;
      margin: 0 0 0 25px;
      padding: 0;
      list-style: none;

      > a {
        height: inherit;
        display: inline-block;
        padding: 0;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        color: #333;
        padding: 10px 14px 10px 14px;
        text-decoration: none;
        letter-spacing: 0.5px;
        &:hover {
          background: #7a5249;
          color: #fff;
          text-decoration: none;
        }
      }
    }
    > li.active {
      > a {
        background: #7a5249;
        text-decoration: none;
        color: #fff;
        &:hover {
          text-decoration: none;
          background: #7a5249;
          transition: all 225ms ease-in 0s;
          color: #fff;
        }
        span {
          display: block;
        }
      }
      ul.sub-menu.hidden {
        display: flex;
        opacity: 0;
        transition: all 225ms ease-in 0s;
        z-index: 1;
      }
      ul.sub-menu {
        display: flex;
        opacity: 0.8;
        transition: all 225ms ease-in 0s;
      }
    }
  }
}
.main-menu .dropdown-menu > li > a:before {
    content: "\f0da";
    padding: 0 10px 0 0px;
    font-family: fontawesome;
    color: #7a5249;
    font-weight: 400;
    font-size: 20px;
}
a.feature-menu:hover,a.feature-menu:focus,a.feature-menu:active {
  text-decoration: none;
}
.dropdown-menu .features li:hover {
  background-color: transparent;
  box-shadow: none;
}
.main-menu .features {
    padding: 0 0 0 20px;
    font-size: 20px;
    text-align: center;
}

.navbar-expand-lg {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.main-menu .navbar-inverse .navbar-nav > li > a.active {
  color: #7a5249;
}
.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}
li.menucat {
  position: relative;
  float: left;
  width: 45%;
  background: #faf9f9;
  margin: 20px 0 0px 20px;
  padding: 10px 0;
  @include media-breakpoint-down(md){
    background: transparent;
    padding: 0;
    width: 100%;
    margin: 0 auto;
   }
}
.main-menu .dropdown-menu > li > a:hover,.main-menu .dropdown-menu > li > a:active,.main-menu .dropdown-menu > li > a:focus {
  background: none;
  color: #7a5249;
}
.main-menu .dropdown-menu > li > .menu1:before {
  content: "\f0c0";
}
.main-menu .dropdown-menu > li > .menu2:before {
  content: "\f0f6";
}
.main-menu .dropdown-menu > li > .menu3:before {
  content: "\f073";
}
.main-menu .dropdown-menu > li > .menu4:before {
  content: "\f023";
}
.main-menu .dropdown-menu > li > .menu5:before {
  content: "\f080";
}
.main-menu .dropdown-menu > li > .menu6:before {
  content: "\f017";
}
.main-menu .dropdown-menu > li > .menu7:before {
  content: "\f1c1";
}
.main-menu .dropdown-menu > li > .menu8:before {
  content: "\f0ee";
}
.navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}
.navigation .menu {
    padding: 0px;
}
.navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
}
.navigation .menu .dropdown {
    position: relative;
}

.main-menu ul.nav.navbar-nav {
    position: relative;
    float: left;
    width: 100%;
    display: inline-block;
}
.navigation .menu li {
    text-align: left;
    padding: 0px 10px;
}
.navigation-2.navigation .nav-link {
    padding: 25px 8px;
}
.navigation .menu li a {
    color: #000;
    display: inline-block;
    line-height: 26px;
}
.main-menu .navbar-inverse .navbar-nav>li>a:focus,.main-menu .navbar-inverse .navbar-nav>li>a:hover {
    color: #7a5249;
}
.main-menu .navbar-inverse .navbar-nav>li>a {

    color: #6f6f6f;
    @include media-breakpoint-up(md) {
     padding:10px;
     }  
}
.main-menu .navbar-nav > li > .dropdown-menu {
    margin: 19px 0 0 0;
    min-width: 600px;
    text-align: left;
    padding: 15px 0 15px 0;
    @include media-breakpoint-down(lg) {
      min-width: 530px;
       } 
    @include media-breakpoint-down(md) {
     min-width: 440px;
      }  
}
.main-menu .dropdown-menu> li> a {
    padding: 10px 20px; 
     font-weight: 600;
     font-size: 16px;
     color: #7a5249;

     @include media-breakpoint-down(md) {
      font-size: 14px;
      padding: 10px 15px;
       }
}
.main-menu .navbar-nav>li {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.6px;
    margin: 0 0 0 10px;

     @include media-breakpoint-down(md) {
     margin:0;
     }
}
.dropdown-menu li:hover {
  background-color: #fff;
  box-shadow: 0 8px 24px rgba(0,0,0,.13);
}
.main-menu nav.navbar.navbar-inverse {
    background: transparent;
    border: none;
    width: 100%;
    float: left;
    position: relative;
    padding: 0;
    margin: 0 auto;
}
.header-navigation-features {
  position: relative;
  float: left;
  width: 100%;
}
.menucat small {
  white-space: normal;
  color: #626262;
}
.header-navigation-features small {
  float: left;
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.menu strong {
  position: relative;
  float: left;
  width: 100%;
  margin-top: 10px;
  font-size: 14px;
}
.main-menu .navbar-inverse .navbar-nav>.open>a,.main-menu .navbar-inverse .navbar-nav>.open>a:focus,.main-menu .navbar-inverse .navbar-nav>.open>a:hover {
    background-color: transparent;
}
.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.navigation .menu .dropdown-menu {
    margin-left: 0px;
    transition: all 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
    -webkit-transition: all 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
    -o-transition: all 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
    -ms-transition: all 500ms cubic-bezier(0.43, 0.26, 0.11, 0.99);
    width: 250px;
    height: auto;
    padding: 0px;
    border-radius: 0px;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    border: 2px solid rgba(0, 0, 0, 0.03);
    color: #fff;
    background-color: #000;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}

.navigation .menu .dropdown-menu a:hover {
    background: #111;
    color: #fff;
    padding-left: 20px;
}

/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}