.service-section {
    position: relative;
    float: left;
    width: 100%;

.services-block {
    position: relative;
    width: 31.55%;
    display: inline-block;
}
.service_image img {
    height: 65px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
h2.service-main-title {
    font-size: 50px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 30px;
    color: #7a5249;
    font-family: 'Poppins';
    line-height: 60px;
    @include media-breakpoint-down(md){
         font-size: 30px;
         margin-bottom: 20px;
    }
    @include media-breakpoint-down(sm){
        font-size: 24px;
        line-height: 35px;
        text-align: center;
        margin-top: 0;
    }
}
.service_box_wrapper {
    float: left;
    position: relative;
    padding: 10px;
    transition: .5s ease;
    max-width: 265px;
    width: 100%;
    margin: 15px auto;
    text-align: center;
    padding-left: 50px;
    padding-right: 0;
      @include media-breakpoint-down(sm){
      padding-left: 0px;
       max-width: 230px;
      }
    @include media-breakpoint-down(xs){
      float: none;
      margin-bottom: 30px;
      }

}
.service-content {
    text-align: center;
    color: #787777;
    @include media-breakpoint-down(lg){
        font-size: 13px;
    }
}

h2.service-title {
    color: #000;
    font-size: 20px;
    text-align: center;
    @include media-breakpoint-down(lg){
        font-size: 16px;
    }

}
}
.service.service-summary{
.service-image {
    background: #f6f4f4;
        img {
            width: 50px;
            height: 50px;
        }
    }
}
#all-services ul {
    list-style-type: none;
    padding:0;
}
.map iframe {
    height: 300px;    
}
.page-contact .col-12 {
    padding: 0;
}
.service-summary .service-content .service-title {
    font-weight: 600;
    font-size: 18px;
    width: 340px;
    display: inline-block;
    border: 1px solid grey;
    margin-left: 18px;
    margin-top: 17px;
    margin-bottom: 8px;
    height: 100px;
    text-align: left;
    padding: 40px 30px;
}
#all-services {
    text-align: center;
    position: relative;
    float: left;
    width: 100%;
.service li .service-title a {
    border: 1px solid #d7d4d4;
    padding: 30px;
    position: relative;
    float: left;
    text-align: center;
    width: 100%;
    color: #656566;
    font-size: 25px;
}
    .service li .service-title a:hover {
    background: #7a5249;
    color: #fff;
    text-decoration: none;
}
}


.team.col-4.mb-2 {
 @include media-breakpoint-down(md){
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
}
.col-md-3.serive-side-one {
    margin-top: 90px;
     @include media-breakpoint-down(sm){
     margin-top: 0px;
     }
}
a.read_more {
    text-decoration: none;
    color: $primary;
    margin-top: 10px;
    position: relative;
    float: left;
    width: 100%;
}
.service_box_text a:hover {
    text-decoration: none;
}