.sub-footer-strip {
  background: #121111;
  padding-top: 15px;
  padding-bottom: 5px;
  position: relative;
  float: left;
  width: 100%;

}
.sub-footer {
  display: inline-block;
  justify-content: space-between;
  width: 100%;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      display: block;
      font-size: 12px;
      color: #333;

      a {
        color: #333;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      span {
        display: inline-block;
        height: 40px;
        padding: 10px 0px 10px 8px;
        font-weight: bold;
        color: #fff;
      }
    }
    @include media-breakpoint-up(sm) {
      li {
        display: inline-block;
        margin-left: 10px;
        &:first-of-type {
          margin-left: 0;
        }
      }
    }
  }
.copyright {
    float: left;
    width: 50%;
    color: #fff;
      @include media-breakpoint-down(sm){
      width: 100%;
      }
}
.powered-by {
    float: right;
    width: 50%;
    text-align: right;
    color: #fff;
    @include media-breakpoint-down(sm){
    width: 100%;
    float: left;
    text-align: left;
    margin-top: 5px;
    }
     a {
    color: #fff;
    text-decoration: none;
    &:hover{
    color: $primary;
    }
}
}
}
