---
title: Contact
layout: default
bodyClass: page-contact
---
<div class="intro">
  {% if page.intro_image %}
  <div class="">
    <img alt={{ page.title }} class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relative_url }}" />
  </div>
  {% endif %}
  <div class="container">

    <div class="row justify-content-start">
      <div class="col-12">
        <h1>
          {{ page.title }}
        </h1>
      </div>

    </div>
  </div>
</div>
<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
    <div class="row justify-content-start">
        <div class="map col-12 col-md-12 pb-2">
            <div class="service service-single">
                 <div class="map col-12 col-md-6">
                    <div class="click-map" onClick="style.pointerEvents='none'"></div>
                      <div style="width: 100%"><iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Mumbai%20Maharashtra+(Law%20Firm)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe></div>
                  </div>
                {% include call.html show_button=false %}
            
          
                <div class="content mt-4">{{content}}</div>
            </div>
        </div>
    </div>
</div>
