---
layout: default
bodyClass: page-services-list
---

<div class="intro">
  {% if page.intro_image %}
  <div class="">
    <img alt={{ page.title }} class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relative_url }}" />
  </div>
  {% endif %}
  <div class="container">

    <div class="row justify-content-start">
      <div class="col-12">
        <h1>
          {{ page.title }}
        </h1>
      </div>

    </div>
  </div>
</div>

<div class="container pt-6 pb-6">



  <div id="all-services" class="pb-4">
    <div class="pt-2 pb-2"><h1>Areas of Services</h1></div>
    <ul class="row justify-content-start">
      {% assign all_sorted_services = site.services | sort: "weight" %}
      {% for service in all_sorted_services %}
      <div class="col-12 col-md-4 mb-1">
        <div class="service service-list">
          <li class="service-content">
            <h2 class="service-title">
              <a href="{{site.baseurl}}{{ service.url }}">{{ service.title }}</a>
           </h2>
           <!-- <p>{{ service.content | markdownify | strip_html | truncate: 100 }}</p>-->
          </li>
        </div>
      </div>
      {% endfor %}
    </ul>
  </div>
</div>